{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
<h2>Добро пожаловать, {{ user.username }} 👋</h2>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5>📊 Данные</h5>
        <p>Просмотр и управление записями</p>
        <a href="{% url 'office_choose'%}" class="btn btn-primary btn-sm">Открыть</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5>📈 Отчёты</h5>
        <p>Аналитика и статистика</p>
        <a href="{% url 'reports'%}" class="btn btn-success btn-sm">Перейти</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5>🎶 Telegram for admin</h5>
        <p>Аналитика и статистика</p>
        <a href="https://web.telegram.org/k/#@Infradesk_diplom_bot" class="btn btn-danger btn-sm">Перейти</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
